/* css styles */
body {
    background-color: #414141;
}

.navbar {
    background-color: #414141;
    
}

.aa-DetachedSearchButtonIcon {
    color: #E9E9E9;
}

.navbar-title {
    color: #E9E9E9;
}

.menu-text {
    color: #E9E9E9;
}

.scrolling-names {
    position: absolute;
    animation: scrollAnimation 1400s linear infinite;
    display: flex;
    flex-direction: column-reverse; 
    justify-content: space-between;
    height: 10000vh; 
}

.home-pg-btns {
    text-align: center;
    display: block;
    color: #E9E9E9; 
    /* background-color: #EDD869; */
    /* border-radius: 20px; */
    padding: 10px; 
    margin: 10px;
    font-weight:700; 
    font-size: x-large;

}

.home-pg-btns:hover {
    color: #EDD869;
} 

@keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(100% - 20px)); /* Adjusted for downward scrolling */
    }
}

/* .home-pg-btns::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10%;
    background-color: #EDD869; 
    z-index: -1;
    transition: width 0.3s ease;
  }
*/


#quarto-search {
    color: #E9E9E9;
}   

#goback-btn {
    display: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #E9E9E9; /* Bootstrap primary color */
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    margin-bottom: 1.5em;
}

 /* Hover effect */
 #goback-btn:hover {
    background-color: #EDD869; /* Darker shade for hover effect */
    color: rgb(51, 51, 51);
    border: 1px solid #0056b3;
}

.search-bar {
    margin-top: 1.5em;
}

.entries-wrap {
    background-color: #eee;
    border-radius: 12px;
    margin-top: 1.5em;
    padding: 1.2em;
}

.nav-fixed.quarto-light {
    color:black;
}

h1, output {
    color: #E9E9E9;
}

.fe-bar-chart {
    background-color: #ffffff;
    border-radius: 12px;
    margin-top: 1.5em;
    padding: 1.2em;
}

.options.btn.btn-quarto {
    color: black;
    background-color: #EDD869;
}

th {
    display: none;
}

input[type='checkbox'] { 
    display: none;
}

input[type='search'] { 
    border-radius: 20px;
    padding: 0.5em;
    border: none;
}

.info-card {
    background-color: #FFFFFF;
    display: none;
}

h2 {
    text-align: center;
}
